services:
  backend:
    build: ./notes-backend
    container_name: notes-backend
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: ${MONGO_URI}
      JWT_SECRET: ${JWT_SECRET}
      PORT: 5000
    restart: always

  frontend:
    build:
      context: ./notes-frontend
      args:
        VITE_API_URL: http://http://34.201.148.125:5000
    container_name: notes-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
