version: "3.8"

services:
  backend:
    build: ./notes-backend
    container_name: notes-backend
    ports:
      - "5000:5000"
    env_file:
      - ./notes-backend/.env
    restart: always

  frontend:
    build: ./notes-frontend
    container_name: notes-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
